section {
    display: flex;
    justify-content: center;
    align-items: center;
    /*overflow: hidden;*/
    /*box-sizing: border-box;*/
    font-family: 'Poppins', sans-serif;
    height: 113vh;
    background: linear-gradient(to bottom, #4a4b4f, #dff1ff);
}

section .color {
    position: absolute;
    filter: blur(150px);
}

section .color:nth-child(1) {
    top: 100px;
    width: 1000px;
    height: 500px;
    background:#b9c5ce;
}

section .color:nth-child(2) {
    bottom: -100px;
    left: 100px;
    width: 700px;
    height: 500px;
    background: #9f729d;
}

section .color:nth-child(3) {
    bottom: 50px;
    right: 200px;
    width: 700px;
    height: 300px;
    background: #739ca4;
}

.box {
    position: relative;
}
.box .square{
    position: absolute;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    animation: animate 10s linear infinite;
    animation-delay: calc(-1s * var(--i));

}
@keyframes animate {
    0%,100%{
        transform: translateY(-40px);
    }
    50%{
        transform: translateY(10px);
    }

}
.box .square:nth-child(1){
    top: -50px;
    right: -60px;
    width: 100px;
    height: 100px;
}
.box .square:nth-child(2){
    top: 150px;
    left: -100px;
    width: 120px;
    height: 120px;
    z-index: 2;
}
.box .square:nth-child(3){
    bottom: 50px;
    right: -60px;
    width: 80px;
    height: 80px;
    z-index: 2;
}
.box .square:nth-child(4){
    bottom: -80px;
    left: 100px;
    width: 50px;
    height: 50px;
}
.box .square:nth-child(5){
    top: -80px;
    left: 140px;
    width: 60px;
    height: 60px;
}

.container {
    position: relative;
    width: 400px;
    min-height: 400px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);

}
.form{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 40px;
}
.form h2{
    position: relative;
    color: rgba(64, 63, 80, 0.4);
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 40px;
}
.form h2::before{
    content: attr(data-text);
    position: absolute;
    color: white;
    /*left: 0;*/
    /*bottom: -10px;*/
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid white;
    animation: animateH2 8s linear infinite;
    filter: drop-shadow(0 0 20px white) drop-shadow(0 0 50px white);
    /*height: 4px;*/
    /*background: white;*/
}
@keyframes animateH2 {
    0%,10%,100%{
        width: 0;
    }
    70%,90%{
        width: 50%;
    }
}
.form .inputBox{
    width: 100%;
    margin-top: 20px;
}
.form .inputBox input{
    width: 100%;
    background: rgba(255,255,255,0.2);
    /*border: none;*/
    outline: none;
    padding: 10px 20px;
    border-radius: 35px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 16px;
    letter-spacing: 1px;
    color: white;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}
.form .inputBox input::placeholder{
    color: white;
}
.form .inputBox input[type="submit"]{
    background: white;
    color: #666;
    max-width: 100px;
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: 600;
}
.forget{
    margin-top: 5px;
    color: white;

}
.forget a{
    color: #9f729d;
    font-weight: 600;
}
