.main_container{
    /*position: relative;*/
    display: flex;
    flex-direction: column;
    width: 95%;
    /*background: red;*/
}
.tab_container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    border: 1px solid  #d8d8d8;
    box-shadow: 1px 2px 3px black;
    top: 25px;
    border-radius: 8px;
    padding: 2px;
    background: rgba(187, 187, 187, 0.65);

}
.header_title_tab{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;

}
.span_icon span{
    margin: 20px 20px 10px 0;
    font-size: 20px;

}
.searchbox{
    display: flex;
    flex-direction: row;
    margin-left: 58px;
}
.table {
    width: 100%;
    border: none;
    /*margin-bottom: 20px;*/
}
.table thead th {
    /*border: 1px solid red;*/
    font-weight: bold;
    text-align: center;
    border: none;
    width: 100px;
    padding: 10px 10px 10px 15px;
    background: rgba(64, 63, 80, 0);
    font-size: 14px;
    color: rgba(243, 243, 243, 0);
}
.table thead tr th:first-child {
    border-radius: 8px 0 0 8px;
}
.table thead tr th:last-child {
    border-radius: 0 8px 8px 0;
}
.table tbody td  {
    text-align: center;
    min-width: 110px;
    border: none;
    padding: 10px 15px;
    font-size: 13px;
    vertical-align: top;
}
.table tbody tr:nth-child(even){
    background: #f3f3f3;
}
.table tbody tr td:first-child {
    border-radius: 8px 0 0 8px;
}
.table tbody tr td:last-child {
    border-radius: 0 8px 8px 0;
}
.table tbody td a{
    text-decoration: none;
    color: #1b2616;
}

/*firstTable*/
.table_first {
    width: 100%;
    border: none;
    /*margin-bottom: 20px;*/
}
.table_first thead th {
    text-align: center;
    font-weight: bold;
    width: 100px;
    /*text-align: left;*/
    border: none;
    padding: 10px 30px 10px 15px;
    /*padding: 10px 15px;*/
    background: rgb(64, 63, 80);
    font-size: 14px;
    color: #f3f3f3;
}
.table_first thead tr th:first-child {
    border-radius: 8px 0 0 8px;
}
.table_first thead tr th:last-child {
    border-radius: 0 8px 8px 0;
}
.table_first tbody td  {
    text-align: left;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    vertical-align: top;
}
.table_first tbody tr:nth-child(even){
    background: #f3f3f3;
}
.table_first tbody tr td:first-child {
    border-radius: 8px 0 0 8px;
}
.table_first tbody tr td:last-child {
    border-radius: 0 8px 8px 0;
}
.table_first tbody td a{
    text-decoration: none;
    color: #1b2616;
}

.paginationBttns{
    width: 100%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    /*padding-left: px;*/
    padding-top: 5px;
    /*border: 1px solid darkred;*/
}
.paginationBttns a{
    padding: 10px ;
    margin-left: 5px ;
    margin-top: 8px;
    border-radius: 5px;
    border: 1px solid #403f50;
    color: #403f50;
    cursor: pointer;
}
.paginationBttns a:hover{
    color: #f3f3f3;
    background: #403f50;
}
.paginationActive a{
    color: #f3f3f3;
    background: #403f50;
}
.paginationDisabled a:hover{
    color: #403f50;
    background: rgba(64, 63, 80, 0.13);
}
a{
    font-size: 22px;
}
